#uploading {
  display: none;
}

body.uploading-picture {
  opacity: 0.5;
}

body.uploading-picture #uploading {
  display: block;
}

body.uploading-picture #uploading .loading {
  background-image: url('../img/loading.gif');
  position: fixed;
  background-size: 100%;
  width: 300px;
  top: 35vh;
  height: 300px;
  left: 10vw;
  /* top: 50%; */
}

#uploading .text {
  display: block;
  margin-top: 20vh;
  color: black;
  font-weight: bold;
  left: 18vw;
  font-size: 36px;
  position: fixed;
  top: 20vh;
}

body.uploading-picture #picture #btn-shot {
  display: none;
}

body.uploading-picture #picture .share {
  pointer-events: none;
}