
<div id="picture" class="clearfix" data-ng-controller="asi.Picture.ngController">

  <div class="row" data-ng-repeat="picture in pictures" class="img-container">

    <img src="{{picture.url}}" alt="" />

    <div class="picture-info">
      <div class="picture-fb-like">
        <iframe
          src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=100&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=80&amp;appId=344578002380936"
          scrolling="no" frameborder="0" style="border: none; overflow: hidden; height: 80px;" allowTransparency="true"></iframe>
      </div>

      <div class="date">Foto tomada el {{picture.date}} hs.</div>

      <div class="share" data-ng-click="share(picture)"></div>
    </div>
  </div>

  <!-- Take a new picture -->
  <div class="row" id="btn-shot" data-ng-click="takePicture()">
    <div class="small-6 column">
      <img src="js/modules/picture/view/img/shot.png" />
    </div>
  </div>
</div>
