
<!-- List of pictures -->

<div class="pictures">
  <div data-ng-repeat="picture in pictures" class="img-container">
    <img src="{{picture.url}}" class="image" />

    <div class="info">

      <div class="share" data-ng-click="share(picture)" alt="Compartir Foto" title="Compartir Foto"></div>

      <p class="date">Foto tomada el {{picture.date}} hs.</p>

    </div>
  </div>
</div>

<!-- Take a new picture -->

<div id="btn-shot" data-ng-click="takePicture()" data-ng-show="!isScrolling"></div>
