
<!-- Top menu -->
<div id="topmenu" data-ng-controller="asi.TopMenu.ngController">
  <div class="row with-logo" data-ng-controller="asi.TopMenu.ngController">
    <div class="small-6 column">
      <img src="js/modules/topmenu/view/img/logo.png" width="160" />
    </div>
    <div class="small-6 column app-fb-like">
      <iframe
        src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=100&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=80&amp;appId=344578002380936"
        scrolling="no" frameborder="0" style="border: none; overflow: hidden; height: 80px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>