/* Samsung galaxy s4 mini, default */
@media ( max-device-width : 540px) {
  #picture-preview .asi-modal {
    position: fixed;
    width: 80%;
    left: 10%;
    height: auto;
    /* top: 40px; */
    font-size: 24px;
  }
  #picture-preview textarea {
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
  }
  #picture-preview .thumb {
    max-width: 100%;
    max-height: 560px;
    margin: 0 auto 10px;
  }
  #picture-preview .keyboard-open .thumb {
    max-height: 230px;
  }
}

/* Samsung galaxy s4 mini, landscape */
@media ( max-device-width : 540px) and (orientation : landscape) {
  #picture-preview .asi-modal {
    position: fixed;
    height: auto;
    top: 15px;
    font-size: 24px;
    left: 280px;
  }
  #picture-preview textarea {
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
  }
  #picture-preview .keyboard-open textarea {
    font-size: 24px;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
  }
  #picture-preview .thumb {
    max-width: 100%;
    max-height: 140px;
    margin: 0 auto 10px;
  }
  #picture-preview .keyboard-open .thumb {
    display: none;
  }
}