/* galaxy s2 mdpi */
@media screen and (device-width: 320px) and (device-height: 534px) , screen and (device-width: 320px) and
  (device-height: 536px) {
  #picture {
    padding: 145px 20px 0px 20px;
  }
  #picture .pictures {
    width: 280px;
    height: 100%;
  
    margin: 0 auto;
}
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 80%;
    width: 34vw;
    height: 19vh;
    /* right: -1px; */
    top: 424px;
    left: 82vw;
    left: 228px;
    background-position: center center;
  }
  #picture .img-container {
    /* margin-bottom: 15px; */
    /* position: relative; */
    /* margin: 0 auto; */
    padding: 5px;
    /* float: left; */
    /* margin-bottom: 30px; */
    /* width: 300px; */
  }
  #picture .image {
    max-width: 270px;
  }
  #picture .info {
    width: 300px;
    height: 70px;
  }
  #picture .share {
    top: 15px;
    background-image: url('../img/share-120x120.png');
    width: 60px;
    height: 60px;
    top: 10px;
    margin: 0 auto;
    margin-top: 5px;
    background-size: 100%;
    margin-bottom: 5px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    float: left;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
}

/* galaxy s2 hdpi */
@media screen and (device-width: 480px) and (device-height: 800px) {
  #picture {
    padding: 170px 20px 0px 20px;
    height: 100%;
    width: 100%;
  }
  #picture .pictures {
    /* max-width: 330px; */
    /* max-height: 380px; */
    
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 80%;
    width: 34vw;
    height: 19vh;
    right: -1px;
    top: 641px;
    left: 82vw;
    left: 339px;
    background-position: center center;
  }
  #picture .img-container {
    /* margin-bottom: 15px; */
    /* position: relative; */
    margin: 0 auto;
    padding-bottom: 15px;
    /* float: left; */
    /* margin-bottom: 30px; */
    /* width: 300px; */
  }
  #picture .image {
    max-width: 400px;
    max-height: 600px;
  }
  #picture .info {
    width: 300px;
    height: 70px;
  }
  #picture .share {
    top: 15px;
    background-image: url('../img/share-120x120.png');
    width: 90px;
    height: 90px;
    top: 10px;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}

/* s4 mini, mdpi */
@media screen and (device-width: 360px) and (device-height: 640px) {
  #picture {
    padding: 150px 20px 0px 20px;
  }
  #picture .pictures {
    width: 300px;
    height: 100%;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 80%;
    width: 34vw;
    height: 19vh;
    right: -1px;
    top: 510px;
    left: 82vw;
    left: 255px;
    background-position: center center;
  }
  #picture .img-container {
    margin-bottom: 15px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-bottom: 30px;
    width: 300px;
  }
  #picture .image {
    width: 300px;
  }
  #picture .info {
    width: 300px;
    height: 70px;
  }
  #picture .share {
    top: 15px;
    background-image: url('../img/share-120x120.png');
    width: 60px;
    height: 60px;
    /* background-position: center center; */
    top: 10px;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    float: left;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}

/* 
galaxy s4 mini, hdpi 
galaxy s3, hdpi
*/
@media screen and (device-width: 540px) and (device-height: 960px) {
  #picture {
    padding: 160px 0 0px 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  #picture .pictures {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 100%;
    width: 34vw;
    height: 18vh;
    right: -1px;
    left: 82vw;
    left: 77%;
    background-position: center center;
  }
  #picture .img-container {
    margin-bottom: 15px;
    position: relative;
    display: table;
    margin: 0 auto;
    padding-bottom: 15px;
    /* width: 500px; */
    /* max-width: 540px; */
  }
  #picture .image {
    max-width: 500px;

    /* margin: 0 auto; */
  }
  #picture .info {
    
  }
  #picture .share {
    top: 15px;
    background-image: url('../img/share-120x120.png');
    width: 90px;
    height: 90px;
    /* left: 86%; */
    background-size: 100%;
    margin: 0 auto;
    margin-top: 10px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    /* float: left; */
    /* left: 10px; */
    white-space: nowrap;
    left: 1;
    /* overflow: hidden; */
    font-size: 15px;
    padding-top: 5px;
    /* padding: 10px; */
    /* top: 3px; */
    /* position: relative; */
  }
}

/* galaxy s4 xxhdpi */
@media screen and (device-width: 1080px) and (device-height: 1920px) {
  #picture {
    padding: 270px 20px 0px 20px;
    width: 100%;
  }
  #picture .pictures {
    margin: 0 auto;
    width: 950px;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 100%;
    width: 34vw;
    height: 19vh;
    right: -1px;
    left: 82vw;
    left: 80%;
    background-position: center center;
  }
  #picture .img-container {
    /* margin-bottom: 15px; */
    /* position: relative; */
    margin: 0 auto;
    /* float: left; */
    padding-bottom: 15px;
    /* margin-bottom: 30px; */
    /* min-width: 300px; */
  }
  #picture .image {
    /* max-width: 1080px; */
    /* min-width: 576px; */
    max-width: 950px;
    max-height: 1500px;
  }
  #picture .info {
    /* width: 300px; */
    /* height: 100px; */
    /* width: auto; */
    /* max-width: 1080px; */
    
  }
  #picture .share {
    /* top: 15px; */
    background-image: url('../img/share-120x120.png');
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-size: 100%;
    /* top: 10px; */
    margin-bottom: 10px;
    margin-top: 10px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    /* float: left; */
    font-size: 30px;
    width: 100%;
    width: 100%;
  }
}

/* 
galaxy s4 xhdpi
galaxy s3 xhdpi 
*/
@media screen and (device-width: 720px) and (device-height: 1280px) {
  #picture {
    padding: 220px 20px 0px 20px;
    width: 100%;
  }
  #picture .pictures {
    margin: 0 auto;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 100%;
    width: 180px;
    height: 180px;
    /* right: -1px; */
    top: 1080px;
    left: 550px;
    /* left: 80%; */
    background-position: center center;
  }
  #picture .img-container {
    padding-bottom: 15px;
    margin: 0 auto;
  }
  #picture .image {
    max-width: 680px;
    max-height: 1000px;
  }
  #picture .info {
    
  }
  #picture .share {
    /* top: 15px; */
    background-image: url('../img/share.png');
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-size: 100%;
    /* top: 10px; */
    margin-bottom: 10px;
    margin-top: 10px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    font-size: 30px;
    width: 100%;
    width: 100%;
  }
}

/* 
galaxy s4 xhdpi
galaxy s3 xhdpi 
*/
@media screen and (device-width: 720px) and (device-height: 1280px) {
  #picture {
    padding: 220px 20px 0px 20px;
    width: 100%;
  }
  #picture .pictures {
    margin: 0 auto;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 100%;
    width: 180px;
    height: 180px;
    /* right: -1px; */
    top: 1080px;
    left: 550px;
    /* left: 80%; */
    background-position: center center;
  }
  #picture .img-container {
    padding-bottom: 15px;
    margin: 0 auto;
  }
  #picture .image {
    max-width: 680px;
    max-height: 1000px;
  }
  #picture .info {
    
  }
  #picture .share {
    /* top: 15px; */
    background-image: url('../img/share.png');
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-size: 100%;
    /* top: 10px; */
    margin-bottom: 10px;
    margin-top: 10px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    font-size: 30px;
    width: 100%;
    width: 100%;
  }
}