/* samsung galaxy s4 mini */
@media screen and (max-width: 360px) {
  #picture {
    padding: 150px 20px 0px 20px;
  }
  #picture .pictures {
    width: 300px;
    height: 100%;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 100%;
    width: 34vw;
    height: 19vh;
    right: -1px;
    left: 82vw;
    left: 80%;
    background-position: center center;
  }
  #picture .img-container {
    margin-bottom: 15px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-bottom: 30px;
    width: 300px;
  }
  #picture .image {
    width: 300px;
    border-radius: 15px 15px 0px 0px;
  }
  #picture .info {
    width: 300px;
    height: 70px;
  }
  #picture .share {
    /* top: 15px; */
    background-image: url('../img/share.png');
    width: 60px;
    height: 60px;
    top: 5px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    float: left;
  }
}

/* samsung galaxy s4 mini */
@media screen and (max-width: 480px) {
  #picture {
    padding: 150px 20px 0px 15px;
  }
  #picture .pictures {
    width: 290px;
    height: 100%;
  }
  #picture #btn-shot {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url('../img/shot.png');
    background-size: 100%;
    width: 34vw;
    background-position: center center;
    height: 19vh;
    right: -1px;
    left: 82vw;
    /* top: 700px; */
    left: 80%;
    top: 80%;
  }
  #picture .img-container {
    margin-bottom: 15px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-bottom: 30px;
    width: 290px;
  }
  #picture .image {
    width: 290px;
    border-radius: 15px 15px 0px 0px;
  }
  #picture .info {
    width: 290px;
    height: 70px;
  }
  #picture .share {
    /* top: 15px; */
    background-image: url('../img/share.png');
    width: 60px;
    height: 60px;
    top: 5px;
    background-repeat: no-repeat;
  }
  #picture .info p {
    float: left;
    width: 215px;
  }
}