/* overrides default styles from topmenu.css for mobile devices */

/* samsung galaxy s4 mini */
@media screen and (max-width: 360px) {
  #topmenu {
    position: fixed;
  }
  #topmenu .logo {
    position: relative;
    float: left;
    padding-top: 1vh;
    background-image: url('../img/ticket1-360x640.png');
    background-size: 360px;
    height: 19vh;
    background-position: center 1vh;
    width: 100%;
    background-repeat: no-repeat;
    top: 0px;
    background-color: white;
  }
  #topmenu .fb-like {
    position: relative;
    float: left;
    top: 0vh;
    padding-top: 2vh;
    height: 8vh;
    background-color: white;
    width: 100%;
    text-align: center;
  }
}