/*
ROJO		c14e56
ROSA 		fa6d68
AMARILLO 	caf541
TURQUESA 	5acdc4
GRIS		566371
BACKGROUND  efe4ca
*/

html {
  height: 100%;  
}

body{
	background: #efe4ca;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	
	height: 100%;
}
h1{
	background: url('../img/logo.png') no-repeat;
	width: 241px;
	height: 165px;
	text-indent: -9999px;
	margin-top: -116px;
	margin-left: 75px;
}
#btn-home{
	background: url('../img/home.png');
	margin-top: 11px;
	height: 47px;
	width: 47px;
	float: left;
}
#btn-container{
	float: right;
	margin: 0;
}
#container{
	height: 100%;
}
#gray-bar{
	background: #566371;
	height: 68px;
	margin-top: 68px;
	padding: 0 20px;
}

.btn-header{
	float: right;
	margin: 4px 0 4px 10px;
	list-style-type: none;
}

.caption{
	background: #fa6d68;
	color: #fff;
	padding:10px;
	margin: 0;
}

#pictures .img-container div {
  margin-bottom: 10px;
}

.img-container img{
	/* height: 60vh; */
	display: block;
	margin: 0 auto;
	padding: 0;
	max-height: 500px;
	float: left;
	margin: 0;
}




/* ========== */
.clearfix:before,
.clearfix:after{
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}

.clearfix:after {
	clear: both; 
}

.clearfix {
	zoom: 1; 
}


.module-view {
  position: absolute;
  width: 100%;
/*   height: 100%; */
  z-index: 40000;
}

a {
  cursor: pointer;
}
